<%= form_with(model: [:admin, server], local: true) do |form| %>
  <% if server.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(server.errors.count, "error") %> prohibited this server from being saved:</h2>

      <ul>
        <% server.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
  <%= form.label :country_id %>
  <select class="form-control" name="server[country_id]">
      <% Country.all.group_by(&:region).each do |region, countries| %>
        <optgroup label="<%= region %>">
        <% countries.each do |country| %>
          <option value="<%=country.id%>"><%= country.name %></option>
      <% end %>
      </optgroup>
    <% end %>
  </select>
  </div>

  <div class="form-group">
    <%= form.label :ip %>
    <%= form.text_field :ip, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :username %>
    <%= form.text_field :username, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :password %>
    <%= form.text_field :password, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :premuim %>
    <%= form.check_box :premium %>
  </div>

  <div class="form-group">
    <%= form.submit "create", class: "btn btn-primary" %>
  </div>
<% end %>
