<p id="notice"><%= notice %></p>

<%= link_to 'New Server', new_admin_server_path, class: "btn btn-primary" %>
<div class="row mt-2">

  <% @servers.each do |server| %>
  <div class="col-md-4 col-sm-6 text-center p-1">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-5 col-md-5">
            <div class="wrapper border-bottom mb-2 mt-3 pb-2">
              <h5 class="font-weight-semibold mb-0"><%= server.connections.count %></h5>
              <div class="align-items-center">
                <p class="mb-0">User Connected</p>
              </div>
            </div>
            <div class="wrapper">
              <h5 class="font-weight-semibold mb-0"><%=server.ping%></h5>
              <div class="align-items-center">
                <p class="mb-0">Ping</p>
              </div>
            </div>
          </div>
          <div class="col-5 col-md-5">
            <div class="wrapper mb-0 mt-0">
              <img src="http://countryflags.io/<%=server.country.code%>/shiny/64.png" width="70" />
            </div>
            <div class="wrapper mb-0">
              <p class="mb-0 font-weight-semibold"><%=server.ip%></p>
              <p class="mb-0 font-weight-semibold"><%=server.username%></p>
              <p class="mb-0 font-weight-semibold"><%=server.password%></p>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
  <% end %>


</div>