<p id="notice"><%= notice %></p>

<%= link_to 'New Server', new_admin_server_path, class: "btn btn-primary" %>
<div class="row mt-2">

    <% @servers.each do |server| %>
      <div class="col-3 text-center p-1">
        <div class="card grey lighten-2">
          <div class="card-header">
          <img src="https://www.countryflags.io/<%= server.country.code %>/shiny/64.png">

          </div>
          <div class="card-body pb-0">
            <i class="fas fa-cloud fa-3x pb-4"></i>
            <div class="d-flex justify-content-center text-center">
              <p class="mb-0 h4"><%= server.ip %></p>
            </div>
            <div class="d-flex justify-content-center text-center">
              <p class="mb-0 h5">username: <%= server.username %></p>
            </div>
            <div class="d-flex justify-content-center text-center">
              <p class="mb-0 h5">password: <%= server.password %></p>
            </div>
          </div>
        </div>

      </div>
    <% end %>
  

</div>
