<p id="notice"><%= notice %></p>

<h1>Plans</h1>

<div class="row">

    <% @plans.each do |plan| %>
      <div class="col-6 p-1">

        <div class="card grey lighten-2">
          <div class="card-body pb-0">
            <i class="fas fa-cloud fa-3x pb-4"></i>
            <div class="d-flex justify-content-between">
              <p class="mb-0 h4"><%= plan.name %> - $<%= plan.price %></p>
            </div>
          </div>
          <hr>
          <div class="card-body pt-0">
            # of accounts: <h6 class="font-weight-bold mb-1"><%=plan.accounts.count%></h6>
            
          </div>
        </div>

      </div>
    <% end %>
  

</div>
<div class="row mt-5">
<div class="col">
<%= link_to 'New Plan', new_admin_plan_path, class: "btn btn-primary" %>
</div>
</div>